
		
		#logo{
		}

		body{
			background-color: #ebeff5;
            
		}


		#total-orders{
			background-color: #0a703d;
		}


		#orders-delivered{
			background-color: #13745b;
		}

		#orders-pending{
			background-color: #1f6b6b;
		}




	