{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-body mt-4">
<p style="text-align: center;">Are you sure you want to Delete {{order}} ?</p>

<form action="{% url 'deleteorder' order.id %}" method="post" style="text-align: center;" >
    {% csrf_token %}
    <a class="btn btn-success" href="{% url 'home' %}">CANCEL</a>

   
    
    <input class="btn btn-danger" type="submit" name="submit">
</form>

        </div>
    </div>
</div>
{% endblock %}